[submodule "dscripts"]
	path = dscripts
	url = https://github.com/identinetics/dscripts.git
[submodule "py-etl"]
	path = py-etl
	url = https://github.com/edushare-at/py-etl
[submodule "odbc-drivers"]
	path = odbc-drivers
	url = ./odbc-drivers
